html {
  font-size: 62.5%; }
  html body {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 2px;
    color: #f3f3f3;
    font-size: 1.6rem;
    margin: 0;
    margin: 0;
    background: #0f0f0f; }
    html body .wrapper {
      max-width: 1280px;
      width: 80%;
      margin: 0 auto; }
    html body header, html body section {
      height: 100vh;
      background: #0f0f0f;
      border: 1px solid #0f0f0f; }
    html body h1 {
      font-family: 'Noto Serif', serif;
      letter-spacing: 2px;
      color: #f3f3f3;
      font-size: 4.5rem;
      margin: 0; }
    html body h2 {
      font-family: 'Noto Serif', serif;
      letter-spacing: 2px;
      color: #f3f3f3;
      font-size: 3rem;
      margin: 0; }
    html body p {
      font-family: 'Montserrat', sans-serif;
      letter-spacing: 2px;
      color: #f3f3f3;
      font-size: 1.5rem;
      margin: 0; }
    html body .submit {
      padding: 10px 15px;
      border-radius: 5px; }

.headerContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 15% 0 0 0; }
  .headerContent form {
    margin-top: 5%; }
    .headerContent form .input {
      width: 200px;
      height: 25px;
      padding: 5px 10px;
      background: #f3f3f3;
      border: none;
      border-radius: 5px;
      font-family: 'Montserrat', sans-serif;
      letter-spacing: 2px;
      color: #f3f3f3;
      font-size: 1rem;
      margin: 0;
      color: #0f0f0f; }
      .headerContent form .input::-webkit-input-placeholder {
        font-family: 'Montserrat', sans-serif;
        letter-spacing: 2px;
        color: #f3f3f3;
        font-size: 1rem;
        margin: 0;
        color: #0f0f0f; }
      .headerContent form .input:-ms-input-placeholder {
        font-family: 'Montserrat', sans-serif;
        letter-spacing: 2px;
        color: #f3f3f3;
        font-size: 1rem;
        margin: 0;
        color: #0f0f0f; }
      .headerContent form .input::-ms-input-placeholder {
        font-family: 'Montserrat', sans-serif;
        letter-spacing: 2px;
        color: #f3f3f3;
        font-size: 1rem;
        margin: 0;
        color: #0f0f0f; }
      .headerContent form .input::placeholder {
        font-family: 'Montserrat', sans-serif;
        letter-spacing: 2px;
        color: #f3f3f3;
        font-size: 1rem;
        margin: 0;
        color: #0f0f0f; }
      .headerContent form .input::-webkit-input-placeholder {
        /* Chrome/Opera/Safari */
        font-family: 'Montserrat', sans-serif;
        letter-spacing: 2px;
        color: #f3f3f3;
        font-size: 1rem;
        margin: 0;
        color: #0f0f0f; }
      .headerContent form .input::-moz-placeholder {
        /* Firefox 19+ */
        font-family: 'Montserrat', sans-serif;
        letter-spacing: 2px;
        color: #f3f3f3;
        font-size: 1rem;
        margin: 0;
        color: #0f0f0f; }
      .headerContent form .input:-ms-input-placeholder {
        /* IE 10+ */
        font-family: 'Montserrat', sans-serif;
        letter-spacing: 2px;
        color: #f3f3f3;
        font-size: 1rem;
        margin: 0;
        color: #0f0f0f; }
      .headerContent form .input:-moz-placeholder {
        /* Firefox 18- */
        font-family: 'Montserrat', sans-serif;
        letter-spacing: 2px;
        color: #f3f3f3;
        font-size: 1rem;
        margin: 0;
        color: #0f0f0f; }
      .headerContent form .input:focus {
        border: 2px solid #0f0f0f; }
    .headerContent form .search {
      padding: 10px 15px;
      border-radius: 5px;
      border: none; }
    .headerContent form #cuisineList {
      padding: 10px 15px; }

.cuisineContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 20%; }
  .cuisineContent form {
    margin-top: 5%; }
    .cuisineContent form #cuisineList {
      height: 50px;
      width: 200px; }
    .cuisineContent form .submitCuisine {
      display: block;
      width: 160px;
      height: 30px;
      border-radius: 5px;
      margin-top: 5%; }

#restaurantName {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative; }
  #restaurantName .rest-content {
    text-align: center;
    margin-top: 5%; }
    #restaurantName .rest-content:first-child {
      display: none; }
  #restaurantName .img-container {
    width: 50%;
    margin-top: 2%; }
    #restaurantName .img-container:first-child {
      display: none; }
    #restaurantName .img-container img {
      width: 100%;
      border-radius: 5px; }

.results form {
  margin-left: 38%;
  margin-top: 5%; }
